*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div.bar {
  display: inline-block;
  width: 20px;
  height: 75px; /* We'll override height later */
  background-color: teal;
  margin-right: 2px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #1d1818;
}

section.bar-chart {
  background-color: #edf0e8;
  padding: 10rem 10rem;
}

section.circles {
  background-color: #dfeff0;
  padding: 10rem 10rem;
}
